.dashboard {
    max-width: 1200px !important;
    margin: 0 auto !important;
    padding: 20px 20px !important;
}

.dashboard__title {
    margin: 0 0 24px;
    font-size: 32px;
    font-weight: 700;
    color: #111827 !important;
}
.dashboard__courses {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.dashboard__course {
   width: 300px;
    padding: 20px;
    background-color: #F3F4F6 !important;
    border-radius: 12px;
    border: 1px solid #E5E7EB !important;
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.08) !important;
}

.dashboard__course-title {
    margin: 0 0 20px;
    font-size: 16px;
    font-weight: 600;
    color: #111827 !important;
}
.dashboard__course-description {
    margin: 0 0 20px;
    font-size: 14px;
    line-height: 1.5;
    color: #6B7280 !important;
}
.dashboard__course-link {
    display: inline-block;
    padding: 12px 18px;
    background-color: #2563EB !important;
    color: #FFFFFF !important;
    border-radius: 8px;
    text-decoration: none !important;
    font-weight: 500;
}
.dashboard__course-link:hover {
    background-color: #1D4ED8 !important;
    color: #FFFFFF !important;
}