{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block body %}
<main class="hero">
    <div class="hero__container">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="IT-Lingo" class="hero__img">

        <h1 class="hero__title font">IT-Lingo</h1>
        <p class="hero__description font">Платформа для изучения IT, понятная даже ребёнку</p>
        <a href="/register" class="btn btn-warning hero__button font">Начать изучение</a>
    
    </div>
</main>
{% endblock %}