{% extends "dashboard.html" %}

{% block title %}{{ lesson.title }}{% endblock %}

{% block body %}
<div class='container'>
<main class="lesson-page">
    <section class="lesson-card">
        <div class="row">
        <div class="lesson-steps">
            {% for step in lesson.steps %}
                {% set is_locked = step.order > progress.unlocked_step %}
                <a
                    href="{% if not is_locked %}{{ url_for('lesson_page', lesson_slug=lesson_slug, step=step.order) }}{% else %}#{% endif %}"
                    class="lesson-card__step{% if step.order == current_step.order %} lesson-card__step--active{% endif %}{% if is_locked %} lesson-card__step--locked{% endif %}"
                >
                    {% if step.type == "theory" %}
                        Теория
                    {% elif step.type == "test" %}
                        Тест
                    {% elif step.type == "practice" %}
                        Практика
                    {% endif %}

                </a>
            {% endfor %}
        </div>

        <div class="lesson-card__content">
            {% if current_step.type == "theory" %}
                <h2>{{ current_step.title }}</h2>              
                  <div class="col-9">
    <div class="col-4">
    <div id="list-example" class="list-group">
      <a class="list-group-item list-group-item-action" href="#list-item-1">1.Что такое Python?</a>
      <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
      <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
      <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
    </div>
  </div>
  <div class="col-8">
    <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
      <h4 id="list-item-1">1.Что такое Python?</h4>
      <p>Представьте себе язык, на котором вы можете разговаривать с компьютером так же естественно, как с другом. Язык, который понимает ваши мысли и помогает воплощать идеи в жизнь без лишних преград. Это — Python.</p>
      <p>Python — это язык программирования, который появился в 1991 году благодаря голландскому разработчику Гвидо ван Россуму. Название было вдохновлено не змеей, как многие думают, а британским комедийным шоу «Летающий цирк Монти Пайтона». Создатель хотел, чтобы язык был таким же веселым, простым и доступным.</p>
      <p>Сегодня Python — один из самых популярных языков программирования в мире. Его любят за простоту, читаемость и мощь. На Python пишут всё: от простых скриптов до сложных систем искусственного интеллекта, веб-сайтов и научных исследований.</p>
      <h4 id="list-item-2">Item 2</h4>
      <p>Представьте себе язык, на котором вы можете разговаривать с компьютером так же естественно, как с другом. Язык, который понимает ваши мысли и помогает воплощать идеи в жизнь без лишних преград. Это — Python.</p>
      <p>Python — это язык программирования, который появился в 1991 году благодаря голландскому разработчику Гвидо ван Россуму. Название было вдохновлено не змеей, как многие думают, а британским комедийным шоу «Летающий цирк Монти Пайтона». Создатель хотел, чтобы язык был таким же веселым, простым и доступным.</p>
      <p>Сегодня Python — один из самых популярных языков программирования в мире. Его любят за простоту, читаемость и мощь. На Python пишут всё: от простых скриптов до сложных систем искусственного интеллекта, веб-сайтов и научных исследований.</p>
      <h4 id="list-item-3">Item 3</h4>
      <p>Представьте себе язык, на котором вы можете разговаривать с компьютером так же естественно, как с другом. Язык, который понимает ваши мысли и помогает воплощать идеи в жизнь без лишних преград. Это — Python.</p>
      <p>Python — это язык программирования, который появился в 1991 году благодаря голландскому разработчику Гвидо ван Россуму. Название было вдохновлено не змеей, как многие думают, а британским комедийным шоу «Летающий цирк Монти Пайтона». Создатель хотел, чтобы язык был таким же веселым, простым и доступным.</p>
      <p>Сегодня Python — один из самых популярных языков программирования в мире. Его любят за простоту, читаемость и мощь. На Python пишут всё: от простых скриптов до сложных систем искусственного интеллекта, веб-сайтов и научных исследований.</p>
      <h4 id="list-item-4">Item 4</h4>
      <p>Представьте себе язык, на котором вы можете разговаривать с компьютером так же естественно, как с другом. Язык, который понимает ваши мысли и помогает воплощать идеи в жизнь без лишних преград. Это — Python.</p>
      <p>Python — это язык программирования, который появился в 1991 году благодаря голландскому разработчику Гвидо ван Россуму. Название было вдохновлено не змеей, как многие думают, а британским комедийным шоу «Летающий цирк Монти Пайтона». Создатель хотел, чтобы язык был таким же веселым, простым и доступным.</p>
      <p>Сегодня Python — один из самых популярных языков программирования в мире. Его любят за простоту, читаемость и мощь. На Python пишут всё: от простых скриптов до сложных систем искусственного интеллекта, веб-сайтов и научных исследований.</p>
    </div>
  </div>
</div>
</div>  
                <form method="post" action="{{ url_for('complete_step', lesson_slug=lesson_slug, step_order=current_step.order) }}">
                    <label>{{ current_step.question }}</label>
                    <input type="text" name="answer">
                    <button type="submit">Проверить</button>
                </form>
            {% elif current_step.type == "test" %}
                <h2>{{ current_step.title }}</h2>
                <p>{{ current_step.task }}</p>

                <form method="post" action="{{ url_for('complete_step', lesson_slug=lesson_slug, step_order=current_step.order) }}">
                    {% for option in current_step.options %}
                        <label>
                            <input type="radio" name="answer" value="{{ option }}">
                            {{ option }}
                        </label>
                    {% endfor %}
                    <button type="submit">Ответить</button>
                </form>

            {% elif current_step.type == "practice" %}
                <div class="lesson-practice">
                    <div class="lesson-practice__terminal">
                        Тут позже будет терминал
                    </div>

                    <aside class="lesson-practice__sidebar">
                        <h2>{{ current_step.title }}</h2>
                        <p>{{ current_step.task }}</p>
                        <details>
                            <summary>Подсказка</summary>
                            <p>{{ current_step.hint }}</p>
                        </details>

                        <form method="post" action="{{ url_for('complete_step', lesson_slug=lesson_slug, step_order=current_step.order) }}">
                            <button type="submit">Отметить как выполнено</button>
                        </form>
                    </aside>
                </div>
            {% endif %}
        </div>
    </section>
</main>
</div>
{% endblock %}
